body{
  background-color:#282c34;
}
.header{
  border-bottom:1px #787878 solid;
  background-color:#181818;
}
.logo{
  height:27px;
  padding:10px;
  padding-bottom:2px;
  padding-left:27px;
  display:inline-block;
}
.header-block{
  color:white;
  display:inline-block;
  padding:7px 100px 2px 25px;
  float:right;
}
.mainTextArea{
  padding-top:44vh;
  padding-bottom:44vh;
  margin-bottom:100px;
  color:white;
  width:100%;
  background-color:	#181818;
  margin-top:-20px;
  text-align:center;
}

.listing-item-holder{
  margin-top:100px;
  width: 800px;
  margin:auto;
  border:1px #181818 solid;
}

.listing-item{

}

.listing-item:nth-child(odd){
  background-color:#282c34;
}
.listing-item:nth-child(even){
  background-color:#3c414a;
}
.rank-value{
  width:30px;
  text-align:center;
  /* border-left:1px #181818 solid; */
  display:inline-block;
}
.title{
  border-left:1px #181818 solid;
  display:inline-block;
  width:550px;
  padding-left:10px;
  border-right:1px #181818 solid;
}
.subreddit{
  display:inline-block;
  width:140px;
  border-right:1px #181818 solid;
  padding-left:5px;
}
.rate{
  width:60px;
  text-align:center;
  display:inline-block;
}
